<h1>Edit Photo #<%= @photo.id %></h1>

<form action="http://localhost:3000/update_photo/<%= @photo.id %>">
  Caption:
  <input name="the_caption" type="text" value="<%= @photo.caption %>">

  Source:
  <input name="the_source" type="text" value="<%= @photo.source %>">

  <button>Update Photo</button>
</form>

<a href="/photos/<%= @photo.id %>">Cancel and go back</a>
